@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với tiketbox </h1>
    <p><a href="https://ticketbox.vn/">Mọi thắc mắc xin hãy tham khảo </a>.</p>
    <h2><a class="btn btn-primary" href="/swagger">Explore APIs</a></h2>
</div>
